    .main-title{
        font-size: 45px;
        font-family: Notable;
    }
    .login-icon{
        height: 32px;
        width: 32px;
    }
    footer{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #ffff;
        line-height: 28px;
    }
    footer .insta-logo{
        font-family: Notable;
        font-size: 16px;
    }
    footer ul{
        list-style-type: none;
        padding-left: 0rem;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    footer .copy-right{
        font-size: 10px;
    }

    @media (max-width: 768px) {
        .login-icon{
            height: 20px;
            width: 20px;
        }
    }