 <!-- Common Footer -->
  <style>
    footer{
        padding:3em;
    }
    footer .flex-row{
        gap: 1em;
    }

    footer .wrapper-class{
        padding:4em;
    }

    @media (max-width: 768px) {
        footer{
            padding:2em;
        }
        footer .wrapper-class{
            padding:1em;
        }
    }

  </style>
<footer class="row bg-dark text-white">
    <div class="wrapper-class d-flex justify-content-between">
        <div class="d-flex flex-column text-start flex-row">
            <a>Site map</a>
            <a>Terms of Service</a>
            <a>Return & Refunds Policy</a>
            <a>Privacy Policy</a>
        </div>
        <div class="d-flex flex-column text-end flex-row">
            <a style="font-family: 'Notable', serif; font-size: 2.5em; font-weight: 700;" href="/">
                Alpha
                <sup style="font-family: 'Roboto', serif; font-size: 0.4em; font-weight: 300; vertical-align: 0.7em;">TM</sup>
            </a>
            <a>+91 xxxxx xxxxx</a>
            <a><strong>Address:</strong><br/>
                 Gachibowli Circle, Telecom Nagar,<br/>
                    Hyderabad, Telangana 500032
            </a>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center text-center">
        <div class="insta-logo">
            <i class="bi bi-instagram"></i> Instagram
        </div>
        <div class="copy-right">
            &copy; 2025 ALPHA JEWELLERS PRIVATE LIMITED, ALL RIGHTS RESERVED
        </div>
    </div>
</footer>