{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}


<style>
    .hero-text {
        position: absolute;
        bottom: 10%;
        left: 10%;
        color: white;
        width: 25%;
        & h1{
            font-weight: 300;
            text-transform: uppercase;  
        }
    }
    .hero-image-bottom {
        width: 10%;
        position: absolute;
        height : 10%;
        bottom: 5%;
        right: 10%;
    }

    .hero-points {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top:2em;

        & div {
            flex: 1;
        }
        & img {
            width: 3em;
        }
    }

    .product-categories {
        display: flex;
        justify-content: center;
        text-align: center;
        gap : 5em;
        & img {
            width: 100%;
            height: auto;
        }
    }

    .container-section{
        max-width: 90%;
        margin: auto;
    }

    .additional-info-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: stretch;
        margin: auto;
        & h2{
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .additional-info-section .grid-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.75em;
        padding: 1.25em 0px;
    }

    .image-row {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .image-row img {
        width: 48%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    #about-alpha-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3em;
        gap: 2em;

        & h3{
            font-weight: 400;
            color: #999;
        }
    }

    #alpha-perks-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: auto auto;
        gap: 4em;
        row-gap: 2em;
        margin: auto;
        position: relative;

        & img{
            max-width: 3em;
            margin-bottom: 0.75em;
        }
    }

    #alpha-perks-section .a { grid-column: 1; grid-row: 1; }
    #alpha-perks-section .b { grid-column: 2; grid-row: 1; }
    #alpha-perks-section .c { grid-column: 3; grid-row: 1; }

    #alpha-perks-section .d { grid-column: 1 / span 2; grid-row: 2; justify-self: center; width: 60%; }
    #alpha-perks-section .e { grid-column: 2 / span 2; grid-row: 2; justify-self: center; width: 60%; }

    #alpha-perks-section .perk-item {
        text-align: center;
    }

    @media (max-width: 768px) {
       .hero-section {
            margin-top: 0;
            position: relative;
            z-index: 1;
            min-height: 70vh !important;
       }

       .hero-text {
            position: absolute;
            bottom: 15%;
            left: 5%;
            width: 50%;
            & h1 {
                font-size: 1.1rem;
                line-height: 1.3;
            }
       }

       .hero-image-bottom {
            width: 25%;
            bottom: 1%;
            right: 5%;
       }

       .hero-points{
            flex-direction: column;
            gap: 2em;
       }

       .product-categories{
            flex-direction: column;
            gap : 3em;
       }

       .additional-info-section{
            grid-template-columns: 1fr;
       }

       #about-alpha-section{
            grid-template-columns: 1fr;
       }

        #alpha-perks-section{
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: auto auto auto;
            gap: 10px;
        }

        .perk-item {
            grid-column: auto !important;
            grid-row: auto !important;
            justify-self: stretch;
            width: 100%;
        }

        .e{
            grid-column: 1 / span 2 !important;
            justify-self: center;     
            width: 60%;               
        }
    }

</style>


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Hero Image Section -->
<section class="hero-section position-relative" style="min-height: 80vh;">
    <img src="{% static 'images/home_hero.jpg' %}" alt="Hero Banner" class="img-fluid w-100" style="object-fit: cover; height: 80vh;">
    <div class="hero-text">
        <h1>India's First Exclusive Men's Jewellery Brand.</h1>
    </div>
    <div class="hero-image-bottom">
        <img src="{% static 'images/silver_kada_no_bg.png' %}" alt="Golden Kada" class="img-fluid w-100" style="width:100%;object-fit: cover;">
    </div>
</section>

<section class="flex-container hero-points">
    <div>
        <img src="{% static 'images/sterling_silver.jpg' %}" alt="Sterling Silver" class="img-fluid">
        <p>925 Sterling Silver Jewellery</p>
    </div>
    <div>
        <img src="{% static 'images/bis.png' %}" alt="BIS Hallmarked" class="img-fluid">
        <p>BIS Hallmarked</p>
    </div>
    <div>
        <img src="{% static 'images/gold_rhodium.webp' %}" alt="Gold Rhodium" class="img-fluid">
        <p>18K Gold or Rhodium Plated</p>
    </div>
</section>

<section class="flex-container mt-5 mb-5 product-categories container-section">
    <div>
        <img src="{% static 'images/rings_img.png' %}" alt="Rings image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/chains_img.png' %}" alt="Chains image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/pendants_img.png' %}" alt="Pendants image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/bracelets_img.png' %}" alt="Bracelets image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/kadas_img.png' %}" alt="Kadas image" class="img-fluid">
    </div>
</section>

<section class="additional-info-section mt-5 grid-container container-section">

     <!-- Left Part -->
  <div class="grid-part left">
    <h2>confidence 
is the sexiest thing a man can wear.<br>
<b>we come next.</b></h2>
    <div class="image-row">
      <img src="{% static 'images/grid_1.webp' %}" alt="">
      <img src="{% static 'images/grid_2.webp' %}" alt="">
    </div>
  </div>

  <!-- Right Part -->
  <div class="grid-part right">
    <div class="image-row">
      <img src="{% static 'images/grid_3.jpg' %}" alt="">
      <img src="{% static 'images/grid_4.jpeg' %}" alt="">
    </div>
  </div>

</section>


<!-- About Alpha -->
<div class="grid-container container-section" id="about-alpha-section"> 
    <div>
        <img class="w-100" src="{% static 'images/silver.jpg' %}"/>
    </div>
    <div class="about-content">
        
        <h2 class="main-title" >ALPHA<sup>TM</sup></h2><br/>
        
        <h3 class="text-grey"><strong>92.5% PURE SILVER JEWELLERY</strong></h3><br/>
        
        <p>
            It begins as raw, untamed metal, 92.5% pure silver fused with strength-giving alloys. Under roaring heat and relentless pressure, it’s melted to a white-hot blaze, poured into molds like liquid lightning, and hammered to perfection.
        </p>
        
        <p>
            Every strike of the craftsman’s tool is a test of endurance. Every polish burns away weakness until only raw power remains - a surface that gleams with a quiet, commanding shine.
        </p>

        <p>
            Sterling silver is not fragile beauty. It is strength you can feel, weight you can wear, and character that grows sharper with time.
        </p>

        <p><strong>Metal made for men. Luxury built to last.</strong></p>
    </div>
 </div>

 <section class="container-section mt-5 text-center" id="shop-with-confidence-section">
    <h3 style="font-size: 1.5em; font-weight: 400;">SHOP WITH CONFIDENCE</h3>
 </section>

<!-- Alpha Perks Section -->
 <section id="alpha-perks-section" class="container-section mt-5">
    <div class="a perk-item">
        <img src="{% static 'images/perk1.svg' %}" alt="Alpha Perks" class="img-fluid w-100">
        <h4>7 Day Money Back</h4>
        <p>No Questions Asked. Promise.</p>
    </div>

    <div class="b perk-item">
        <img src="{% static 'images/perk3.svg' %}" alt="Alpha Perks" class="img-fluid w-100">
        <h4>Secured Payment</h4>
        <p>Pay according to your preferred method.</p>
    </div>

    <div class="c perk-item">
        <img src="{% static 'images/perk5.svg' %}" alt="Alpha Perks" class="img-fluid w-100">
        <h4>100% Certified</h4>
        <p>Silver Purity is our Guarantee.</p>
    </div>

    <div class="d perk-item">
        <img src="{% static 'images/perk2.svg' %}" alt="Alpha Perks" class="img-fluid w-100">
        <h4>Tamper Proof Packaging</h4>
        <p>Your order is safely shipped.</p>
    </div>

    <div class="e perk-item">
        <img src="{% static 'images/perk4.svg' %}" alt="Alpha Perks" class="img-fluid w-100">
        <h4>Silver - Best Asset Right Now</h4>
        <p>Data proves.</p>
    </div>
 </section>


<section class="container-section mt-5 text-center">
    <p>Cash on Delivery | 7 Day Easy Return | Tarnish Free</p>
 </section>
{% endblock %}