{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<style>
    .hero-text {
        position: absolute;
        bottom: 10%;
        left: 10%;
        color: white;
        width: 25%;
        & h1{
            font-weight: 300;
            text-transform: uppercase;  
        }
    }
    .hero-image-bottom {
        width: 10%;
        position: absolute;
        height : 10%;
        bottom: 5%;
        right: 10%;
    }

    .hero-points {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top:2em;

        & div {
            flex: 1;
        }
        & img {
            width: 3em;
        }
    }

    .product-categories {
        display: flex;
        justify-content: center;
        text-align: center;
        gap : 5em;
        & img {
            width: 100%;
            height: auto;
        }
    }

    .container-section{
        max-width: 90%;
        margin: auto;
    }

    .additional-info-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: stretch;
        margin: auto;
        & h2{
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .additional-info-section .grid-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        padding: 20px 0px;
    }

    .image-row {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .image-row img {
        width: 48%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
</style>


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Hero Image Section -->
<section class="hero-section position-relative">
    <img src="{% static 'images/home_hero.jpg' %}" alt="Hero Banner" class="img-fluid w-100" style="object-fit: cover;">
    <div class="hero-text">
        <h1>India’s First Exclusive Men’s Jewellery Brand.</h1>
    </div>
    <div class="hero-image-bottom">
        <img src="{% static 'images/silver_kada_no_bg.png' %}" alt="Golden Kada" class="img-fluid w-100" style="width:100%;object-fit: cover;">
    </div>
</section>

<section class="flex-container hero-points">
    <div>
        <img src="{% static 'images/sterling_silver.jpg' %}" alt="Sterling Silver" class="img-fluid">
        <p>925 Sterling Silver Jewellery</p>
    </div>
    <div>
        <img src="{% static 'images/bis.png' %}" alt="BIS Hallmarked" class="img-fluid">
        <p>BIS Hallmarked</p>
    </div>
    <div>
        <img src="{% static 'images/gold_rhodium.webp' %}" alt="Gold Rhodium" class="img-fluid">
        <p>18K Gold or Rhodium Plated</p>
    </div>
</section>

<section class="flex-container mt-5 mb-5 product-categories container-section">
    <div>
        <img src="{% static 'images/rings_img.png' %}" alt="Rings image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/chains_img.png' %}" alt="Chains image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/pendants_img.png' %}" alt="Pendants image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/bracelets_img.png' %}" alt="Bracelets image" class="img-fluid">
    </div>
    <div>
        <img src="{% static 'images/kadas_img.png' %}" alt="Kadas image" class="img-fluid">
    </div>
</section>

<section class="additional-info-section mt-5 grid-container container-section">

     <!-- Left Part -->
  <div class="grid-part left">
    <h2>confidence 
is the sexiest thing a man can wear.<br>
<b>we come next.</b></h2>
    <div class="image-row">
      <img src="{% static 'images/grid_1.webp' %}" alt="">
      <img src="{% static 'images/grid_2.webp' %}" alt="">
    </div>
  </div>

  <!-- Right Part -->
  <div class="grid-part right">
    <div class="image-row">
      <img src="{% static 'images/grid_3.jpg' %}" alt="">
      <img src="{% static 'images/grid_4.jpeg' %}" alt="">
    </div>
  </div>

</section>


<!-- About Alpha -->
<div class="row container-section" id="about-alpha"> 
    <div class="col-12 col-md-6">
        <p>
            <img class="w-100" src="{% static 'images/silver.jpg' %}"/>
        </p>
    </div>
    <div class="col-12 col-md-6 about-content">
        
        <h2 class="main-title" >ALPHA<sup>TM</sup></h2><br/>
        
        <h3 class="text-grey"><strong>92.5% PURE SILVER JEWELLERY</strong></h3><br/>
        
        <p>
            It begins as raw, untamed metal, 92.5% pure silver fused with strength-giving alloys. Under roaring heat and relentless pressure, it’s melted to a white-hot blaze, poured into molds like liquid lightning, and hammered to perfection.
        </p>
        
        <p>
            Every strike of the craftsman’s tool is a test of endurance. Every polish burns away weakness until only raw power remains - a surface that gleams with a quiet, commanding shine.
        </p>

        <p>
            Sterling silver is not fragile beauty. It is strength you can feel, weight you can wear, and character that grows sharper with time.
        </p>

        <p><strong>Metal made for men. Luxury built to last.</strong></p>
    </div>
 </div>

{% endblock %}