<style>
    .navbar-section{
        display: flex;
        gap: 2em;
        justify-content: center;
        padding: 0.5em 0;
        margin: 0px 3em;
    }

    .navbar-section .nav-link {
        font-weight: 300;
        color: #333 !important;
        text-transform: uppercase;
        text-decoration: none;
    }
    .navbar-section .nav-link:hover {
        color: #007bff;
    }

    @media (max-width: 768px) {
        .navbar-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            margin: 0px 0.5em;
            padding: 0.5em 0;
            width: 100%;
        }
    }

</style>

<!-- Navigation Section with Categories -->
<nav class="navbar navbar-nav navbar-expand-lg" style="background-color: #f8f9fa; ">
    <section class="navbar-section">
    <a class="nav-link" href="/">RINGS</a>
    <a class="nav-link" href="/">CHAINS</a>
    <a class="nav-link" href="/">PENDANTS</a>
    <a class="nav-link" href="/">BRACELETS</a>
    <a class="nav-link" href="/">KADAS</a>
    </section>
</nav>